
StopnGo.xcodeproj/xcuserdata/denisthamrim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

StopnGo.xcodeproj/xcuserdata/denisthamrim.xcuserdatad/xcschemes/StopnGo.xcscheme

StopnGo/Images.xcassets/cookie.png

StopnGo.xcodeproj/xcuserdata/denisthamrim.xcuserdatad/xcschemes/xcschememanagement.plist

StopnGo/Images.xcassets/elmo.jpg

StopnGo/Images.xcassets/elmo--2.png

StopnGo/Images.xcassets/elmo.png

StopnGo/Images.xcassets/grumpy.jpg
